.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    position: relative; /* Ensure relative positioning for absolute children */
    overflow: hidden; /* Hide overflow */
}

.heading .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1; /* Move the image behind other content */
}

.heading img {
    width: 50px;
    height: auto;
}

.heading h1 {
    text-align: center;
    background-color: aqua;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.scroll p {
    font-style: italic;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.list button {
    border-radius: 5px;
    background-color: azure;
    transition: all 0.3s ease;
}

.list button:hover {
    border-radius: 20px;
    transform: scale(1.1);
    background-color: aquamarine;
}

.pic {
    text-align: center;
}

.particular {
    height: 150px;
}

.pic img {
    display: inline-block; 
    position: relative;
    width: auto;
    max-width: 100%;
    margin-top: 30px;
    margin-right: 45px;
    transition: all 0.3s; /* Add transition for hover effect */
    border: 5px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.pic img:hover {
    border-radius: 10px;
    transform: scale(1.1);
}

/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    margin: 0;
    padding: 20px;
    height: 50%;
    display: flex;  
    
}

.con {
    flex: 1;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.sam {
    display: flex;
    border: 1px solid black;
}

.sam > div {
    flex: 1;
    border-right: 1px solid black;
    box-sizing: border-box;
    padding: 10px; /* Optional: Add padding to each part */
    text-align: center; /* Optional: Center the content */
    height: 100px;
}

/* Remove right border for the last div */
.sam > div:last-child {
    border-right: none;
}
